*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(221, 203, 203, 0.5);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0b2c48;
    color: white;
    padding: 10px 40px;
    height: 90px;
    font-size: 24px;
}
.nav-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 14px;
}




.service-card {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
   padding: 20px;
margin:  0;
}

.card {
position: relative;
display: block;
width: 100%;
height: 300px;
text-decoration: none;
overflow: hidden;
border-radius: 12px;
padding: 5px 10px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.service-card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}


.service-link {
    text-decoration: none;
    color: #0b2c48;
    display: block;
    margin: 10px 0;
   
}

.card-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: rgb(22, 11, 11);
    font-size: 18px;
    text-align: center;
    align-items: center;
    font-weight: bold;
    padding: 10px;
}

.content {
    padding: 40px;
    background-color: rgb(245, 243, 239);
    min-height: 100%;
    text-align: center;
    font-size: 24px;
    margin: 0;
    position: relative;
    overflow: hidden;
}
.content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoomMove 20s infinite alternate ease-in-out;
}

@keyframes zoomMove {
    0% {
        transform: scale(1) translate(0, 0);
    }
    100% {
        transform: scale(1.1) translate(-10px, -10px);
    }
}
.about-bg-image {
    background-image:  linear-gradient(rgba(185, 173, 173, 0.5), rgba(228, 215, 215, 0.5)),url('https://res.cloudinary.com/dxlqgb1rn/image/upload/q_auto/f_auto/v1776768457/img-electrical-installation-7_izckqa.png');
    background-size: cover;
    position: relative;
    height: 100%;
    margin-bottom: 0px;
    overflow: hidden;
}
.about-bg-image img{
background-image: linear-gradient(rgba(238, 226, 226, 0.5), rgba(223, 201, 201, 0.5)), url('https://res.cloudinary.com/dxlqgb1rn/image/upload/q_auto/f_auto/v1776768535/electrical_installation_2_apoejl.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    margin-bottom: 0px;   
}


.cctv-bg-image{
    background-image: linear-gradient(rgba(238, 226, 226, 0.5), rgba(223, 201, 201, 0.5)), url('https://res.cloudinary.com/dxlqgb1rn/image/upload/q_auto/f_auto/v1776768535/electrical_installation_2_apoejl.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    margin-bottom: 0px;
}
.contact-bg-image {
    background-image: linear-gradient(rgba(245, 236, 236, 0.5), rgba(223, 204, 204, 0.5)), url('https://res.cloudinary.com/dxlqgb1rn/image/upload/q_auto/f_auto/v1776769096/img_electric_fence_prwwem.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    margin-bottom: 0px;
}

.contact info {
    margin-right: 8px;
    color: #333;
}
.social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    color: #000;
    font-size:18px;
}

.social-icons i:hover {
    color: #0b2c48;
    transition: 0.3s;
}
.solar-bg-image {
    background-image: linear-gradient(rgba(218, 208, 208, 0.5), rgba(221, 203, 203, 0.5)), url('https://res.cloudinary.com/dxlqgb1rn/image/upload/q_auto/f_auto/v1776842503/img_electrical_installation_9_b4j3zl.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    margin-bottom: 0px;
}
.fence-bg-image {
    background-image: linear-gradient(rgba(219, 211, 211, 0.5), rgba(226, 195, 195, 0.5)), url('https://res.cloudinary.com/dxlqgb1rn/image/upload/q_auto/f_auto/v1776769159/img_electric_fence6_ta63zg.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    margin-bottom: 0px;
}
.gate-bg-image {
    background-image: linear-gradient(rgba(212, 206, 206, 0.5), rgba(224, 202, 202, 0.5)), url('https://res.cloudinary.com/dxlqgb1rn/image/upload/v1776841757/img_swing_gates_2_z9ly7d.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    margin-bottom: 0px;
}
.security-bg-image {
    background-image: linear-gradient(rgba(196, 192, 192, 0.5), rgba(224, 196, 196, 0.5)), url('https://res.cloudinary.com/dxlqgb1rn/image/upload/q_auto/f_auto/v1776769208/img_electrical_installation_5_d0wxsp.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    margin-bottom: 0px;
}
.home-bg-image {
    background-image: linear-gradient(rgba(192, 187, 187, 0.5), rgba(223, 204, 204, 0.5)), url('https://res.cloudinary.com/dxlqgb1rn/image/upload/q_auto/f_auto/v1776769280/img_home_1_zkqj8p.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    margin-bottom: 0px;
}
.elec-bg-image {
    background-image: linear-gradient(rgba(196, 188, 188, 0.5), rgba(223, 204, 204, 0.5)), url('https://res.cloudinary.com/dxlqgb1rn/image/upload/q_auto/f_auto/v1776841677/img_video_intercom_2_y80ttn.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    margin-bottom: 0px;
}
.services-bg-image {
    background-image: linear-gradient(rgba(223, 215, 215, 0.5), rgba(218, 206, 206, 0.5)), url('https://res.cloudinary.com/dxlqgb1rn/image/upload/q_auto/f_auto/v1776841714/img_swing_gates_vcnbii.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    margin-bottom: 0px;
}

.service-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 40px;
}

.left h1 {
    margin-bottom: 10px;
}

.left p {
    margin-bottom: 20px;
}

.image-grid img {
    width:250px;
    height:300px;
    object-fit: cover;
    border-radius: 6px;
}

.right ul {
    list-style: none;
    padding: 0;
}

.right li {
    margin-bottom: 10px;
}

.highlight-box {
    background: #0b2c48;
    color: white;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    font-size: 40px;
}
.contacts {
    text-align: center;
    margin: 0;
    font-size: 18px;
    background-color: rgb(255, 250, 240);
    height: 15vh;
}

.marquee {
    overflow: hidden;
    width: 100%;
    padding: 20px 0;
    position: relative;
}
.marquee-track {
    display: flex;
    width: fit-content;
    animation: scroll 15s linear infinite;
}
.marquee-track img {
    width: 180px;
    height:120px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 10px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
.footer {
    text-align: center;
    padding: 20px;
    background-color: #0b2c48;
    color: white;
    height: 10vh;
}
